.container {
    display: grid;
    grid-template-areas: 
    "header aside"
    "main aside"
    "footer aside";
      grid-template-columns: 3fr 1fr; /* Main content wider than aside */
      min-height: 100vh;
      gap: 1rem;
      padding: 1rem;
      box-sizing: border-box;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.aside {
  grid-area: aside;
}

.dessert {
  background-color: #fafafa;
}

.dessert:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

body {
  background-color: #fef6f2;
}

/* MAIN SECTION STYLES */

/* arrange desserts in rows */
.dessert-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  gap: 1.5rem;
  padding-top: 1rem;
}

/* resize each dessert img */
.dessert img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  display: block;
  border-radius: 8%;
}

/* repositioned buttons */
.dessert {
  position: relative;
}

.add-to-cart {
  position: absolute;
  z-index: 1;
  top: 230px;      
  left: 50%;
  transform: translateX(-50%);
}

/* global font setting */
@font-face {
  font-family: 'RedHatText-Regular';
  src: url('assets/fonts/static/RedHatText-Regular.ttf') format('ttf');
}

body {
  font-family: 'RedHatText-Regular', sans-serif;
}

/* global text color settings */
:root {
  --text-primary: #2f2f2f;
  --text-secondary: #656565;
  --accent-color: #e97f6a;
  --text-light: #ffffff;
  --text-muted: #8c8c8c;
  --footer-text: #5e5e5e;
}

h1 {
  color: var(--text-primary);
  font-weight: bold;
}

.dessert p:nth-of-type(1) {
  color: var(--text-muted);
}

.dessert p:nth-of-type(2) {
  color: var(--text-primary);
  font-weight: bold;
}

.dessert p:nth-of-type(3) {
  color: var(--accent-color);
  font-weight: bold;
}

/* main content button styles */
.add-to-cart {
  background-image: url('assets/images/icon-add-to-cart.svg');
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 40px; 
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 999px;
  border: none;
  border: 1px solid #8c8c8c;;
}

.add-to-cart:hover {
  background-color: #a93f1c;
  color: white;
}

/* Others */
.dessert img {
  margin-bottom: 2rem;
}

.dessert {
  background-color: #fef6f2;
}

.header {
  padding-left: 12px;
}

p {
  padding-left: 10px;
}

/* ASIDE STYLES */

/* cart placeholder styles */
.cart-text {
  color: var(--accent-color);
  padding-left: 20px;
  padding-top: 3px;
}

.cart-container {
  background-color: white;
  padding: 2rem;
  /* border-radius: 8%; */
}

.cart-container:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.cart-placeholder img {
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
}

#placeholder-message {
  margin: 0 auto;
  text-align: center;
  color: var(--text-muted);
  font-weight: bold;
  padding-bottom: 20px;
}

/* cart item styles */
.newItem {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}

.newItemName {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--text-primary);
}

.newItemData {
  display: flex;
  gap: 1.5rem;
  font-size: 0.9rem;
  color: #555;
}

.amount {
  color: var(--accent-color);
  font-weight: bold;
}

.price {
  color: var(--text-secondary);
}

.newItemRemoveBtn {
  margin-left: 2rem;
}

.newItemRemoveBtn button {
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.newItemRemoveBtn button:hover {
opacity: 0.5;
}

.total-cost {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.order-total-text {
  color: #555;;
}

.order-total-int {
  color: var(--text-primary);
  font-weight: bold
}

.carbon-neutral {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 0.5rem; 
  margin-top: 1rem;
  font-size: 0.9rem;
  background-color: #fef6f2;
  padding: 10px;
  white-space: nowrap;
}

.carbon-text {
  color: var(--text-primary);
}

.confirm {
  margin-bottom: 0 auto;
  display: flex;
  justify-content: center;
}

.confirm-btn {
  border-radius: 999px;
  padding: 10px 60px;
  background-color: #a93f1c;
  border: none;
  color: white;
}

.confirm-btn:hover {
  opacity: 50%;
}

/* FINAL ORDER STYLES */


/* mobile */
@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header"
      "aside"
      "main"
      "footer";
    grid-template-columns: 1fr;
  }
}
